[Desktop Entry]
Name=xwayland-satellite
Comment=
Exec=/usr/bin/xwayland-satellite :12
Icon=system-run
Type=Application
StartupNotify=true
Terminal=false
