input {
    keyboard {
        xkb {
        }
    }
    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }
    tablet {
        //map-to-output "HDMI-A-1"
    }
}

output "DP-1" {
    mode "3440x1440@165.001"
    scale 1
    transform "normal"
    position x=0 y=0
}
output "HDMI-A-1" {
    mode "2560x1600"
    scale 1
    transform "normal"
    position x=3440 y=0
}

layout {
    gaps 16
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width { 
    	proportion 0.33333;
    }

    focus-ring {
        width 4
        active-color "#C50ED2"
        inactive-color "#ff99cc"
    }
    border {
        off

        width 8
        active-color "#ffc87f"
        inactive-color "#505050"
    }
    struts {
    }
}

//spawn-at-startup "/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "swww-daemon"
spawn-at-startup "swaync"
spawn-at-startup "walker" "--gapplication-service"
spawn-at-startup "geary" "--gapplication-service"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {

    horizontal-view-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
}

window-rule {
      geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
  match app-id="lxqt-policykit-agent"
  min-width 360
  max-width 360
  min-height 100
  max-height 100
}

window-rule {
    match app-id="vesktop"
    default-column-width { fixed 2550; }
}

window-rule {
    match app-id="Steam"
    default-column-width { fixed 1720; }
}

window-rule {
  match app-id="firefox-beta"
  default-column-width { fixed 1150; }
}

window-rule {
    match app-id="code-url-handler"
    default-column-width { fixed 1720; }
}

window-rule {
  match app-id="org.gnome.Calculator"
  default-column-width { fixed 270; }
  // min-height 600
  // max-height 600
}

binds {
    Super+H { show-hotkey-overlay; }
    Ctrl+Shift+Escape { spawn "gnome-system-monitor"; }
    Super+S { spawn "walker" "--theme" "rosepine"; }
    Mod+T { spawn "gnome-terminal"; }
    Super+Shift+S { spawn "grimblast" "copy" "area"; }
    Super+P { spawn "wl-color-picker" "clipboard"; }
    Super+E { spawn "nemo"; }
    Super+X { spawn "code" "-g" "/home/alice/.config/niri/config.kdl"; }
    Super+W { spawn "bash" "-c" "killall waybar; waybar"; }
    XF86Launch7 { 
      spawn "gnome-calculator"; 
     }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Q { close-window; }
    Alt+F4 { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Alt+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Alt+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    
    Mod+WheelScrollDown      { move-window-down; }
    Mod+WheelScrollUp        { move-window-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { consume-or-expel-window-right; }
    Mod+Shift+WheelScrollUp        { consume-or-expel-window-left; }
    Mod+Ctrl+Shift+WheelScrollDown { consume-or-expel-window-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { consume-or-expel-window-left; }
    
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Ctrl+Left { consume-or-expel-window-left; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }
    Mod+Alt+1 { set-column-width "25%"; }
    Mod+Alt+2 { set-column-width "33.33333%"; }
    Mod+Alt+3 { set-column-width "50%"; }
    Mod+Alt+4 { set-column-width "66.66666%"; }
    Mod+Alt+5 { set-column-width "75%"; }
    Mod+KP_End { set-column-width "25%"; }
    Mod+KP_Down { set-column-width "33.33333%"; }
    Mod+KP_Next { set-column-width "50%"; }
    Mod+KP_Left { set-column-width "66.66666%"; }
    Mod+KP_Begin { set-column-width "75%"; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    XF86Launch8 { screenshot; }
    Ctrl+XF86Launch8 { screenshot-screen; }
    Alt+XF86Launch8 { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.#
    CTRL+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
environment {
	DISPLAY ":9"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

spawn-at-startup "/usr/libexec/policykit-1-pantheon/io.elementary.desktop.agent-polkit"

spawn-at-startup "xdg-autostart"